/*
 * Main CSS file
 */


 
/*
 * Global settings
 */

body, html {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  background-size: cover; 
}

/*
 * App element
 */

#app {
  width: 250px;
  height: 400px;
  position: fixed;
  background: url('../images/background.jpg') no-repeat center;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;

  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  -webkit-box-shadow: 2px 2px 20px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 20px 3px rgba(0,0,0,0.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.4);
  z-index: -1;
}

/*
 * Main content
 */

.reload_button {
  background: url(../images/reload.png) no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.current_weather {
  margin: 100px 0;
}

.temperature {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.temperature .value {
  display: inline-block;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
}

.temperature .unit {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  top: -28px;
}

.city {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.description {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.weather_icon {
  width: 100px;
  margin: 30px auto 0;
  display: block;
}

/*
 * Error
 */

.error_block {
  position: relative;
  top: 50%;

  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error_message {
  font-size: 14px;
  padding: 0 20px;
  font-weight: 700;
}

.unavailable_data {
  width: 42px;
  margin: 0 auto;
  display: block;
}

/*
 * Preloader
 */

.preloader_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d8d8d8;
  z-index: 999;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.preloader_container.hide {
  opacity: 0;
  visibility: hidden;

  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

.preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 4px solid #ffffff;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  animation: loader 2s infinite ease;
  
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.loader_inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}