<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Weather App</title>
  <link rel="stylesheet" href="./css/style.css">

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- APP ELEMENT -->
  <div id="app">

    <!-- PRELOADER -->
    <div class="preloader_container" :class="{hide: !preloaderStatus}">
      <div class="preloader">
        <div class="loader_inner"></div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <template v-if="!preloaderStatus">
      <div class="overlay"></div>

      <template v-if="message">
        <div class="error_block">
          <img class="unavailable_data" :src="iconSrc" alt="unavailable data image">
          <h2 class="error_message"> {{message}} </h2>
        </div>
      </template>
      <template v-else>
        <div class="reload_button" @click="getWeatherData"></div>
        <div class="current_weather">
          <h2 class="city"> {{city}} </h2>
          <div class="temperature">
            <h1 class="value"> {{temperature}} </h1>
            <span class="unit">°C</span>
          </div>
          <h3 class="description"> {{weather.description}} </h3>
          <img class="weather_icon" :src="iconSrc" alt="weather image">
        </div>
      </template>
    </template>

  </div>


  <!-- SCRIPTS -->
  <script src="./js/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>